body {
  display: grid;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
}

#uthyrning {
  background-image: url("./img/backgrounds/bakgrund5.jpg");
  background-size: cover;
}

#rivning {
  background-image: url("./img/backgrounds/rivning.jpg");
  background-size: cover;
}

#maskinpark {
  background-image: url("./img/backgrounds/bakgrund4.jpg");
  background-size: cover;
}

#snöröjning {
  background-image: url("./img/backgrounds/bakgrund7.jpg");
  background-size: cover;
}

#blimedlem {
  background-image: url("./img/backgrounds/bakgrund2.jpg");
  background-size: cover;
}

#referenser {
  background-image: url("./img/backgrounds/bakgrund3.jpg");
  background-size: cover;
}

.intro,
.areas {
  display: flex;
  flex-wrap: wrap;
}

.areas .box-item {
  margin: 1rem;
  color: white;
}

.box-item {
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 400px;
  padding: 2rem;
  align-content: space-between;
}

.box-item2 {
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 500px;
  padding: 2rem;
  margin: 0.5rem;
  align-content: space-between;
}

.ledord {
  background-image: url("./img/bigtruck-1024x731.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem;
  text-align: center;
  color: white;
}

.ledord > h5 {
  margin-top: 2%;
}

.ledord > h3 {
  margin-top: 3%;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}
